nativedist/*
dist/*
dis/*
temp/*
node_modules/*
.svn

.DS_Store

.idea
build
busi
temp
boilerplate/*
platforms/ios/app/*
platforms/android/app/src/main/assets/app/*
platforms/android/.gradle
platforms/android/settings.gradle
start.bat
startServe.bat
.DS_Store
platforms/.DS_Store
