dist/*
dis/*
temp/*
node_modules/*
.svn

.DS_Store

.idea
build
busi
temp
boilerplate/*
platforms/ios/weexplusPro/*
platforms/ios/app/*
platforms/android/weexplusPro/*
platforms/ios/weexplus/app/*
platforms/android/weexplus/app/src/main/assets/app/*
platforms/android/SalesPlatform/*
platforms/ios/vshop/*
platforms/ios/SalesPlatform/*

platforms/android/alipay/alipay.iml
platforms/android/farwolf.business/farwolf.business.iml
platforms/android/farwolf.weex/farwolf.weex.iml
platforms/android/farwolf/farwolf.iml
platforms/android/galleryfinal/galleryfinal.iml
platforms/android/jpush/jpush.iml
platforms/android/oss/oss.iml
platforms/android/umeng/umeng.iml
platforms/android/wxpay/wxpay.iml
start.bat
startServe.bat
.DS_Store
platforms/.DS_Store
